@page "/form2"
@rendermode InteractiveServer
@inject Microsoft.Extensions.Configuration.IConfiguration config
<h1>Dynamic Form 2</h1>

<PageTitle>Dynamic Form 2</PageTitle>


<form asp-action="Save">

    <span>@config["DynamicFormsApiUrl"]</span>
    @((MarkupString)PanelViewHtml)
   

    <button type="submit" class="btn btn-primary">Save</button>
</form>