@page "/form2"

<h1>Dynamic Form 2</h1>

<PageTitle>Dynamic Form 2</PageTitle>


<form>
    @((MarkupString)PanelViewHtml)
    <button type="submit" @onclick="OnButtonClick" class="btn btn-primary">Save</button>
</form>