@page "/form"
@rendermode InteractiveServer
@* @inject JJMasterData.Core.UI.Components.IComponentFactory componentFactory *@
@* @inject MyDynamicForm myForm *@
<h1>Dynamic Form</h1>

<PageTitle>Dynamic Form</PageTitle>
