@page "/form2"
@rendermode InteractiveAuto
@* @inject Microsoft.Extensions.Configuration.IConfiguration config *@
<h1>Dynamic Form 2</h1>

<PageTitle>Dynamic Form 2</PageTitle>


<form>
    @((MarkupString)PanelViewHtml)
    <input type="submit" @onclick="OnButtonClick" class="btn btn-primary">Save</input>
</form>